<% provide(:duels_active, 'active')%>
<h1>Editing Duel</h1>

<%= render 'form', duel: @duel %>

<%= link_to 'Show', @duel , :class => "btn btn-outline-success"%> |
<%= link_to 'Back', duels_path, :class => "btn btn-outline-success" %>
